body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
header {
    text-align: center;
}
nav, article {
    margin: 0 auto;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}
nav {
    margin: 0 auto;
    padding: 1rem;
    text-align: right;
}
section {
    padding: 5% auto;
}
article a {
    text-align: right;
}
h2 {
    color: brown;
}
img {

}
footer {
    padding: 1rem;
    text-align: center;
}