
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(199, 199, 199);
}
header,
main {
  margin: 0 auto;
  padding: 1rem;
}
header, footer {
    background-color: rgb(18, 117, 150);
}
footer {
    padding: 1rem;
    margin: 1rem auto 0 auto;
    text-align: center;
    color: white;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
}
main h2 {
    grid-column:1/-1;
}
h1, h2 {
    text-align: center;
}
h1 {
    color: white;
}
section {
  padding: 8px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px black;
}
section img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
nav a {
    padding: 20px;
    color: white;
    display: block;
    text-align: center;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.hide {
    display: none;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    color: white;
}
.menu-btn p {
    margin: 0;
}
dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 1vh;
    right: 1vh;
    padding: 3px 9px;
    font-size: 1.5em;
}
  
@media screen and (min-width: 700px) {
    main{
        grid-template-columns: 1fr 1fr;
    }

}
@media screen and (min-width: 1000px) {
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu-btn {
        display: none;
    }
    nav a {
        display: inline;
    }
    nav {
        text-align: center;
    }
    .hide {
        display: block;
    }
    dialog img {
        width: 60%;
        margin: 15vh auto;
    }
    .close-viewer {
        position: absolute;
        right: 15vh;
    }
    .viewer {
        margin: 50px;
        padding: 50px;
    }
    .viewer img {
        max-width: 800px;
    }
}
                  