
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(199, 199, 199);
}
header,
main,
footer {
  margin: 0 auto;
  padding: 1rem;
}
header, footer {
    background-color: rgb(18, 117, 150);
}
main {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
}
main h2 {
    grid-column:1/-1;
}
h1, h2 {
    text-align: center;
}
h1 {
    color: white;
}
section {
  padding: 8px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}
section img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
nav a {
    padding: 20px;
    color: white;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    color: white;
}
.menu-btn p {
    margin: 0;
}
footer {
    text-align: center;
}
  
@media screen and (min-width: 700px) {
    main{
        grid-template-columns: 1fr 1fr;
    }

}
@media screen and (min-width: 1000px) {
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu-btn {
        display: none;
    }
    nav a {
        display: inline;
    }
    nav {
        text-align: center;
    }
}
                  